# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Assignment 1/.RData
Assignment 1/.Rhistory
Lab 2.3/Lab_2.3.html
Lab 2.3/rsconnect/documents/Lab 2.3.Rmd/rpubs.com/rpubs/Document.dcf
Assignment 2/rsconnect/documents/Assignment2.Rmd/rpubs.com/rpubs/Document.dcf
Assignment 2/Assignment2.html
Assignment 2/.RData
Assignment 2/.Rhistory
Assignment 3/rsconnect/documents/Assignment3.Rmd/rpubs.com/rpubs/Document.dcf
Assignment 3/rsconnect/documents/Assignment3.Rmd/rpubs.com/rpubs/Publish Document.dcf
Project 1/rsconnect/documents/Project1.Rmd/rpubs.com/rpubs/Document.dcf
Project 1/rsconnect/documents/Project1.Rmd/rpubs.com/rpubs/Publish Document.dcf
.Rproj.user
Assignment 4/Assignment 4.Rproj
Assignment 4/rsconnect/documents/Assignment4.Rmd/rpubs.com/rpubs/Document.dcf
*.dcf
Project3 r2.Rmd
Project_3.Rmd
Project 3.Rmd
*.yml
Project 4/.Rhistory
Project 4/.RData
Project 4/output.strict
Stock Project/.RData
Stock Project/.Rhistory
Stock Project/Stock_Overview/.RData
Stock Project/Stock_Overview/.Rhistory
